<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materailtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apptubiao3"
        android:label="最后一公里"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Mainactivity1"
            android:exported="true" >

        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Loginactivity"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:name=".Fruitactivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="myapplycation">
        </activity>
    </application>

</manifest>